@CHARSET "ISO-8859-1";

body,
html {
	margin: 0;
	padding: 0;
}
.titleHeader {
	width: 100%;
	height: 20%;
	float: left;
	background-color: salmon;
}

.sideBar {
	width: 20%;
	box-sizing: border-box;
  	background: gray;
 	float: left;
  	padding: 20px;
}

.sideBar:after {
  background: shade(gray, 3%);
  content: ""; /* Needed */
  display: block; /* Needed */
  height: 5000px; /* Very large value */
  position: fixed; top: 0; /* Needed */
}

.sideBar,
.sideBar:after {
  border-color: gray;
  border-style: solid;
  box-sizing: border-box;
  background: gray;
  width: 20%;
  z-index: -1;
}
.sideBar:after {
  left: 0;
}

.mainContent {
	background-color: white;
	width: 80%;
	height: 100%;
	float: left;
}

p, #dropdownVulcan,
#subscribeForm {
	padding: 10px;
}

img {
	padding :25px;
}

#wrap {
	width: 100%;
	margin:0 auto;
}