*{margin:0;padding:0}
a{outline: 0 !important;}
html,body {height: 100%;color:#000;font: 16px;font-family:Arial, Helvetica, sans-serif;background: #fff;}
input, button, select, textarea{font-family:Arial, Helvetica, sans-serif;font-size:16px}

/*reusable css*/
.clear{clear:both;}
.txt-center{text-align:center}
.txt-left{text-align:left}
.txt-right{text-align:right}
.border-red{border:1px solid red;}
.bold{font-weight:bold}
.overflow-x{overflow-x:auto;overflow-y:hidden}
.overflow-y{overflow-y:auto;overflow-x:hidden}
.red-border{border:1px red solid}
.txt-red{color:red}
.fl{float:left}
.fr{float:right}
.hidden{display:none}
/*end reusable*/

/* Programmer: Robert Garlope */

.wrap{max-width:900px;margin: 0 auto;}
#header-wrap .header-title h1{font-weight:bold;font-size: 16px;height: 40px;line-height: 40px;}
#header-wrap .header-banner{width:100%;max-width:900px;height:auto;margin:0 auto;margin-top:2px}
#header-wrap .header-banner img{width:100%;height:auto;}
.content-wrap {overflow: hidden;padding:0;margin:0;}
.content-wrap .main-content {float: right;width: 80%;height: auto;padding:10px}
.content-wrap .sidebar {float: left;height: auto;width:20%;padding:10px}
.content-wrap{min-height:200px;}
p{font-size:16px}
#about .p-title{font-size:18px}
@media screen and (max-width: 700px) {
	.content-wrap .main-content {float: none;width: 100%;padding:10px}
	.content-wrap .sidebar {float: none;height: auto;width:100%;}
	.right-side{margin:0 auto}
	.box{max-width:100%;}
}

/* Extra small devices (phones, up to 768px) */
@media screen and (max-width: 350px) {
	#header-wrap .header-title h1{font-size: 11px;}
}
@media screen and (max-width: 768px) {
	body{font-size:10px}
	h1{font-size:18px}
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
	body{font-size:12px}
	h1{font-size:20px}
}
/* large desktops and 900px up ----------- */
@media screen and (min-width: 900px) {
	h1{font-size:20px}
	.container{max-width:900px !important;}
}
/* end of code */
